.header{
    grid-area: h;
    background-color:#7dbebeef;
    
  }
  
  .header img{
    margin-left: 10px;
    width:110px;
    height: 70px;
  }

  .log{
    float:right; 
  }

  .log a{
    color: rgb(9, 12, 201);
    text-decoration: none;
    }
